@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right,#e8d5b7, #e8d5b9);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #e0c08896;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0e2430;
    text-align: center;
    text-shadow: 1px 1px 0px #0a1e29a2;
}

h2{
    color: #f5b349;
}
p {
    text-align: justify;
}